body {
  margin-left: 15%;
  margin-right: 15%
  color: #181c00;
  font-family:'Lora',serif;
}
h1 {
  font-size: 30;
  font-family:'Oswald', sans-serif;
}
ul {
  list-style-type: none;
}
li {
  padding:5px;
}

.workcontainer {
  display: flex;
  width:90%;
  flex-direction: column;
}
.othercontainer {
  display: flex;
  width:90%;
  flex-direction: column;
}
.othercontainer a {
  text-decoration: underline;
}
.section {
  font-size: 25px;
  margin-top: 30px;
  font-family:'Oswald', sans-serif;
}
.job {
  float:left;
}
.title {
  font-size: 20px;
  font-family:'Oswald';
}
.place {
  float:right;
}
.dates {
  float:left;
}
.desc {
  float:left;
  clear:both;
  padding-top: 5px;
  padding-bottom: 5px;
}
.workcontainer ul {
  clear: both;
  list-style-type: circle;
}
.workcontainer li {
  margin-left: 20px;
  padding: 0px;
}

.grid {
  position:relative;
}
.item {
  display:block;
  position: absolute;
  margin: 10px 30px 10px 0px;
  z-index: 1;
  width: 350px;
  height: 350px;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.filter-controls{
  margin:10px 10px 10px 0px;
}
.itemtitle{
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}
.itemdesc{
  text-align: justify;
  font-family: 'Muli', sans-serif;
}
a {
  color: #181c00;
  text-decoration:none;
}
